.search-img {
    display: flex;
    width: 50px;
    height: 25px
}
/* .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%
} */
.inputBox {
    border-radius: 0.35em;
    padding: 0em;
    height: 20px
}
.resultsSearch {
    display: grid;
    justify-content: center;
    width: 300px;
}
.results {
    display: grid;
    width: 10px;
    justify-content: center;
    align-items: center;

}
.listRes {
    display: flex;
    width: 306px;
}
.search-img {
    width: 120px;
    height: 100px;
    object-fit: cover;

}
