.createBusinessButton {
    text-decoration: none;
    color: red;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.background {
    background-image: url('https://photos.smugmug.com/photos/i-zQvX2Kt/2/X2/i-zQvX2Kt-X2.jpg');
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    position: fixed;
}
.formContainer {
    margin: 50px auto 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.business label {
    width: 100%;
    margin: 9px 0;
    display: flex;
    float: left;
    padding: 0px;
    flex-direction: column;

}

.createSpot {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
