.submit-button {
    font-size: 20px;
    cursor: pointer;

}

.edit-comment-errors {
    color: red;
    margin-top: 10px;
    margin-left: 10px;
}

.review-form {
    height: 300px;
    width: 500px;
    padding: 15px;

}

.edit-btn {
    width: 75px;
    height: 36px;
    font-weight: bold;
    border: none;
    color: #e6fdff;
    background-color: rgb(236, 127, 119);
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    cursor: pointer;
}

.review-inputs {
    border: none;
    resize: none;
    outline: none;
    font-size: 20px;
    margin: 30px 0;
    margin-left: 10px;
    font-weight: lighter;
    height: 100px;
    width: 470px;
    /* background-color: lightgrey; */
    color: black;
    justify-content: center;
    align-items: center;
}

.edit-comment-input {
    justify-content: center;
    align-items: center;
}

.edit-btn-div {
    display: flex-end;
    justify-content: flex-end;
    /* margin-right: 5px; */
    margin-top: 10px;
}

.edit-review-header {
    font-size: 28px;
    margin-top: 10px;
    margin-left: 10px;
}

.textinput {
    width: 50%;
    height: 80%;
    margin-bottom: 50px;
}

.ratinginput {
    height: 20%;
    margin-bottom: 50px;
}
