#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(91, 112, 131, 0.4)
}

#modal-content {
    position: absolute;
    /* width: 500px;
    height: 400px; */
    background-color: lightgrey;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: grid;
    margin-top: 15%;
    background-image: url('https://photos.smugmug.com/photos/i-254HgHP/1/X4/i-254HgHP-X4.jpg');
    object-fit: cover;
    background-size: cover;
}
