.businessTitle {
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    display: flex;
}
.bookmarks-list {
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* border: 1px solid rgba(0, 0, 0, 0.1);s */
    /* border-radius: 10px; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    transition: box-shadow 0.9s ease;
    justify-content: center;
    align-items: center;
}
