.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 2px 2px 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0.25px solid lightgrey;
}
.businesses-list {
    display: grid;
    /* border: 0.25px solid lightgrey; */
    grid-template-columns: 500px 500px;
    gap: 32px;
    border-radius: 10px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0 32px;
    box-sizing: border-box;
    width: 300px;
    align-items: center;
}
.businessDiv {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    text-align: left;
    /* border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; */
    height: 275px;
    width: 500px;
    align-items: center;
}
.busCard {
    max-width: 750px;
    display: flex;
    flex-direction: column;

}
.business-text {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    display: grid;
    align-items: center;
    margin-right: auto;


}
.bizphoto {
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
}
